<h1 class="page-title">Books</h1>

<input type='checkbox' [checked]='showImages' (click)='toggleImages()' /> Show Covers

<table class="table table-condensed">
    <thead>
        <tr>
            <th *ngIf='showImages'>
                Poster
                <ca-range></ca-range>
            </th>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let book of books'>



            <td *ngIf='showImages'>
                <img [hidden]='!showImages' [src]='book.cover' [style.width.px]='imageWidth'>
            </td>
            <td>{{book.title}}</td>
            <td>{{book. author}}</td>
            <td>{{book.price}}</td>
            <td>
                <span *ngIf="book.rating <1.4"> {{book.rating}} 
                    <i class="fa" [ngClass]="{'fa-star-o':book.rating,'fa-star':!book.rating}"></i>
                </span>
                <span *ngIf="book.rating >=1.5 && book.rating <2.4"> {{book.rating}}
                    <i class="fa" [ngClass]="{'fa-star-o':!book.rating,'fa-star':book.rating}"></i>
                    <i class="fa" [ngClass]="{'fa-star-o':book.rating,'fa-star':!book.rating}"></i>
                </span>
                <span *ngIf="book.rating >=2.5 && book.rating <3.4"> {{book.rating}}
                    <i class="fa" [ngClass]="{'fa-star-o':!book.rating,'fa-star':book.rating}"></i>
                    <i class="fa" [ngClass]="{'fa-star-o':!book.rating,'fa-star':book.rating}"></i>
                    <i class="fa" [ngClass]="{'fa-star-o':book.rating,'fa-star':!book.rating}"></i>
                </span>
                <span *ngIf="book.rating >=3.5 && book.rating <4.4"> {{book.rating}}
                    <i class="fa" [ngClass]="{'fa-star-o':!book.rating,'fa-star':book.rating}"></i>
                    <i class="fa" [ngClass]="{'fa-star-o':!book.rating,'fa-star':book.rating}"></i>
                    <i class="fa" [ngClass]="{'fa-star-o':!book.rating,'fa-star':book.rating}"></i>
                    <i class="fa" [ngClass]="{'fa-star-o':book.rating,'fa-star':!book.rating}"></i>
                </span>
                
                <span *ngIf="book.rating >=4.5"> {{book.rating}}
                    <i class="fa" [ngClass]="{'fa-star-o':!book.rating,'fa-star':book.rating}"></i>
                    <i class="fa" [ngClass]="{'fa-star-o':!book.rating,'fa-star':book.rating}"></i>
                    <i class="fa" [ngClass]="{'fa-star-o':!book.rating,'fa-star':book.rating}"></i>
                    <i class="fa" [ngClass]="{'fa-star-o':!book.rating,'fa-star':book.rating}"></i>
                    <i class="fa" [ngClass]="{'fa-star-o':book.rating,'fa-star':!book.rating}"></i>
                </span>


            </td>
        </tr>


    </tbody>
</table>


<hr />
<p class='tags'>Total books: {{books.length}}</p>